$white: #fafafa;
$black: #212121;
$lightGrey: #eceff1;
$mediumSteel: #b0bec5;
$darkSteel: #455a64;
$gradientBackground: linear-gradient(135deg, #d0d0d0, #43cea2);
$cardGradientBackground: linear-gradient(135deg, #02aab0, #00cdac);
$appBackground: repeating-radial-gradient(#baa7f336, #47d05800 100px);
$cardGradienttwo: repeating-radial-gradient(#43cea2, transparent 100px);